/* grid system component */
.grid {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: -10px;
  padding: 0;
}
.grid > li {
  margin: 10px;
}
.grid.grid--col3 > li {
  width: 33.33%;
}


/* article component */
.article {
  box-shadow: 3px 3px 0 #999;
}
.article > a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 20px;
}

.article h2 {
  font-size: 30px;
  margin: 0;
}
.article p {
  margin: 10px 0 15px;
}
.article span {
  display: inline-block;
  padding: 5px 10px;
  background: #333;
  color: #fff;
}